html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#view-jokes {
  width: 25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-style: solid;
  border-color: cornflowerblue;
}

#jokes {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#get-jokes, #my-jokes {
  width: 40%;
}

button {
  width: 70%;
  text-align: center;
}

#signup-button {
  margin-top: 16px;
  margin-bottom: 10px;
}

#signup {
  width: 25rem;
  border-style: solid;
  border-color: cornflowerblue;
  text-align: center;
}

input {
  width: 70%;
}

#magic-link {
  margin-bottom: 16px;
}

#input-email {
  margin-bottom: 16px;
}
